HELP.md
*.db*
target/
logs/
output/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/resources/static/
### STS ###
.metadata
tmp/
*.launch
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
!**/dist/
!**/node_modules/
### macOS ###
.DS_Store
/invoice-frontend/dist
/invoice-frontend/node_modules
/src/main/resources/static
